pandas
pigeonXT-jupyter
datasets
scikit-learn
mysql-connector-python
transformers[torch]
tqdm
jupyter-ui-poll
ipykernel
ipywidgets
pyarrow
huggingface_hub
langchain-community
langchain
faiss-gpu
langchain_openai
